<script>
var contador = 0;
</script>
<div class = "Titulo">
    <h1>Formulario Actual</h1><br>
</div>
<div class="from-control">
    <div *ngFor="let pregunta of preguntas">
        contador
        <div  class="form-inline">
            <div class="form-group mb-2">
                <li>{{pregunta.descripcion}}</li>
            </div>
            <div class="form-group mx-sm-0 mb-2">
                <select id = "nota1" class="form-control">
                    <option>00</option>
                    <option>10</option>
                    <option>20</option>
                    <option>30</option>
                    <option>40</option>
                    <option>50</option>
                    <option>60</option>
                    <option>70</option>
                    <option>80</option>
                    <option>90</option>
                    <option>100</option>
                </select>
            </div>
    </div>
</div>   

<br><br>
<button class="btn btn-primary">Enviar</button>
